body{
    font-family: 'Lato', sans-serif;
}
#top-section{
    display: flex;
    background-color: orange;
}
#logo{
    margin-right: 65%;
    font-weight: 800;
    padding-left: 20px;
    font-size: 23px;
}
#half-logo{
    color: white;
    font-weight: 900;
}
.top-head{
    margin: auto;
}
#balck-section{
    background-color: black;
    
}
span{
    color: rgb(255, 174, 0);
}
#second-section{
    font-size: 60px;
   display: flex;
    background-image: url(Untitled-1-Recovered.gif);
    background-repeat: no-repeat;
    background-position-y: 4cm;
}
.second-section-div{
    padding-left: 20%;
}
#second-section-img{
    margin-left: 45%;
}

.anchor{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    background-color: black;
    padding: 10px 25px;
    border-radius: 15px;
}
#table-booking{
    display: flex;
    background-color: orange;
    margin: auto;
}
#booking-a-table{
    margin-right: 40%;
    padding-left: 5%;
}

.booking{
    margin: auto;
}
button{
   margin-right: 15px;
}
.balck-section{
    background-color: black;
}
#mid-section{
    display: flex;
    background-color: orange;
}
#about-us{
    color: white;
    font-size: 40px;
    font-weight: 600;
}
h4{
    font-size: 30px;
}