body{
    font-family: 'Lato', sans-serif;
}
#top-section{
    display: flex;
    background-color: orange;
}
#logo{
    margin-right: 65%;
    font-weight: 800;
    padding-left: 20px;
    font-size: 23px;
}
#half-logo{
    color: white;
    font-weight: 900;
}
.top-head{
    margin: auto;
}
#balck-section{
    background-color: black;
    
}
span{
    color: rgb(255, 174, 0);
}
#second-section{
    font-size: 60px;
    margin-left: 100px;
}
#table-booking{
    display: flex;
    background-color: orange;
    margin: auto;
}
#booking-a-table{
    margin-right: 40%;
    padding-left: 5%;
}

.booking{
    margin: auto;
}
button{
   margin-right: 15px;
}